1.

In [ ]:
What can Python do?
(A)Python can be used on a server to create web applications.
(B)Python can be used alongside software to create workflows.
(C)Python can connect to database systems. It can also read and modify files.
(D)Python can be used to handle big data and perform complex mathematics.

-answer: (ABCD) https://www.w3schools.com/python/python_intro.asp

In [ ]:
What can Python do?
Python can be used on a server to create web applications.
Python can be used alongside software to create workflows.
Python can connect to database systems. It can also read and modify files.
Python can be used to handle big data and perform complex mathematics.
Python can be used for rapid prototyping, or for production-ready software development.

2.

In [ ]:
Python uses __________ to indicate a block of code
(A) [] (B){}  (C) ()  (D) indentation

answer: (D) Indentation https://www.w3schools.com/python/python_syntax.asp

In [ ]:
Python uses indentation to indicate a block of code.

3.

In [ ]:
Python has commenting capability for the purpose of in-code documentation. Comments start with a  __________
(A)A  (B) # (C) /  (D)&

answer: (B) # https://www.w3schools.com/python/python_comments.asp Comments starts with a #, and Python will ignore them.

4.

In [ ]:
Unpack a Collection:
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. 
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
What is the output of this code in Python?
(A) apple  (B) banana (C) cherry  
(D) ["apple", "banana", "cherry"]

answer: (A) apple https://colab.research.google.com/drive/18usjdXx0ZaRxJkfCNaxot44_jnzkph16#scrollTo=rPmUh4i2Ko5-

5.

In [ ]:
Which following is the correct way to create a dictionary in Python?
   (A) students = { 'name' => 'alice' ;  'score' =>60 }
   (B) students = { 'name' = 'alice' ;  'score' =60 }
   (C) students = { 'name' : 'alice' ;  'score' : 60 }
   (D) students = { 'name' => 'alice' ,  'score' =>60 }
   (E) students = { 'name' : 'alice' , 'score' : 60 }

answer: (E) students = { 'name' : 'alice' , 'score' : 60 }

6.

In [ ]:
What is the output of this code in Python?

x = 5
y = "John"
print(x + y) 

(A)	5 John  (B) 5 + John  (C) John (D) Python will give you an error

answer: (A) 5 John

7.

In [ ]:
Which one of the following outputs is wrong? (A)13//5 output: 2.6 (B) 13/5 output: 2.6 (C)13%5 output:3
(D)y = int(2.8) output:2

 answer: (A)13//5  output: 2.6

8.

In [ ]:
What does the following Python program fragment do?
   s=0
   for i in range (3 , 11) :
        s+=i
   print (s)
   (A) Calculate the sum of 1+2+…+10
   (B) Calculate the sum of 1+4+7+10
   (C) Calculate the sum of 3+4+5+6+…+9
   (D) Calculate the sum of 3+4+5+6+…+10
   (E) Calculate the sum of 0+2+4+6+…+10

answer: (D) Calculate the sum of 3+4+5+6+…+10

In [ ]:
Output: 52

9.

In [ ]:
What is the output of this code in Python?

a = "Hello, World!"
print(a[2:5]+ a[3:8]) 

(A)  W llolo,
(B)  llolo,Wo
(C)  llolo, W
(D)  llolo,Wor

answer: (C) llolo, W

10.

In [ ]:
Which function can returns the length of a string?
a = "Hello, Pythonian!"
print(_________)
(A) len(a)  (B) length(a)   (C) count(a)  (D)  num(a)

answer: (A) len(a)

11.

In [ ]:
What is the output of this code in Python?
      list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
      print (list [ 1 : ])
   (A) [ ]
   (B) [ 'b' ]
   (C) [ 'a' ,  'b' ]
   (D) [ 'b' ,  'c' ,  'd' ,  'e' ]

answer: (D) [ 'b' , 'c' , 'd' , 'e' ] `

12.

In [ ]:
What is the output of this code in Python?
        L1 = [ ]
        L1.append ( [1, [2, 3], 4] )
        L1.extend ( [7, 8, 9] )
        print(L1[0][1][1] + L1[2] )
   (A) 3  (B) 8  (C) 11  (D) 38  (E) None of these

answer: (C) 11

13.

In [ ]:
Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" ______ txt)

Which is the correct answer?
(A) on (B) with (C) at  (D) in

answer: (D) in

14.

In [ ]:
Which of the following conditions correctly describes the output of this code in  Python?
         first = [1 , 2 , 3 , 4 , 5]
         second = first
         second.append (6)
         print (first)
         print (second)
   (A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6]
   (B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5]
   (C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5]
   (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]
   (E) None of these

answer: (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]

15.

In [ ]:
Python has a set of built-in methods that you can use on strings. 
Which method can converts string into lower case ?
(A)capitalize()     (B) casefold()     (C) lower()  
(D)expandtabs()

answer: (C) lower() https://www.w3schools.com/python/python_strings_modify.asp

16.

In [ ]:
Python Booleans
Which one of the following statements is wrong?
(A) Booleans represent one of two values: True or False. 
(B) The bool() function allows you to evaluate any value, and give you True or False in return, 
(C) print(10 > 9) will output True  
(D) print(10 = 9) will output True

answer: (D) print(10 = 9) will output True https://www.w3schools.com/python/python_booleans.asp

17.

In [ ]:
Python Lists 
Which of the following statements is wrong?
(A) Lists are used to store multiple items in a single variable.
(B) Lists are created using square brackets 
(C) List items are ordered, changeable, and allow duplicate values. 
(D) Lists can not have items with the same value

answer: (D) Lists can not have items with the same value https://www.w3schools.com/python/python_lists.asp

18.

In [ ]:
Which one of the codes will output
['apple', 'orange', 'banana', 'cherry']  ?

mylist = ["apple", "banana", "cherry"]
_____________________
print(mylist)

(A)mylist.append("orange")
(B)mylist.insert(0, "orange")
(C)mylist.insert(1, "orange")   
(D)mylist.insert(2, "orange")

answer: (C)mylist.insert(1, "orange")

19.

In [ ]:
Python has a set of built-in methods that you can use on dictionaries. Which statements are correct ?
(A) clear() will removes all the elements from the dictionary
(B) copy() will returns a copy of the dictionary 
(C) items() will returns a list containing a tuple for each key value pair  
(D) popitem()	will removes the last inserted key-value pair

answer: https://www.w3schools.com/python/python_dictionaries.asp (C) items() will returns a list containing a tuple for each key value pair

20.

In [ ]:
Python supports the usual logical conditions from mathematics:
Which statements are correct ?
(A)Equals: a = b
(B)Not Equals: a != b
(C)Less than or equal to: a <= b
(D)Greater than: a > b

answer: (BCD) https://www.w3schools.com/python/python_operators.asp

21.

In [ ]:
What is the output of this code in Python?

i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

answer: (A) 1 2 3

22.

In [ ]:
What is the output of this code in Python?
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

answer: (C) 1 2 3 4 5 6

23.

In [ ]:
If the function 
int volume (int x = 1, int y = 1, int z = 1); 
is called by the expression volume (7,8), how many default arguments are used?
(A) None  (B) One  (C) Two  (D) Three
(E) It depends on the runtime environment.

answer: (C) Two https://www.w3schools.com/python/python_functions.asp

24.

In [ ]:
What is the output of this code in python?
        r = lambda q: q * 2
        s = lambda q: q * 3
        x = 2
        x = r (x)
        x = s (x)
        x = r (x)
        print (x)
   (A) 2  (B) 4  (C) 6  (D) 12  (E) 24

answer: (E) 24

25.

In [ ]:
A recursive function is defined as below:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

What Is The Last Line Of The Output When tri_recursion(6) is executed? 
   (A) 6  (B) 10  (C) 15  (D) 21  (E) 28

answer: (D) 21